In [25]:
import pandas as pd
df = pd.read_csv('ecommerce_sales_large.csv')

In [27]:
df.dtypes

order_id              int64
customer_id          object
product_id           object
product_category     object
order_date           object
quantity              int64
unit_price          float64
total_price         float64
region               object
dtype: object

In [29]:
df.head()

,order_id,customer_id,product_id,product_category,order_date,quantity,unit_price,total_price,region
0,1,CUST015796,PROD0111,Books,2023-02-15,4,642.34,2569.36,South
1,2,CUST000861,PROD0142,Home,2023-12-02,1,337.05,337.05,South
2,3,CUST076821,PROD0007,Clothing,2024-09-27,2,763.14,1526.28,East
3,4,CUST054887,PROD0077,Books,2023-01-20,1,194.33,194.33,South
4,5,CUST006266,PROD0001,Clothing,2024-02-10,4,458.94,1835.76,South

In [31]:
df['order_date'] = pd.to_datetime(df['order_date'],format= '%Y-%m-%d' )

In [33]:
from sqlalchemy import create_engine

engine = create_engine("mysql+mysqlconnector://root:Him2002@localhost/uc_da_assignment")

In [35]:
try:
    df.to_sql(name='df_ucda', con=engine, index=False, if_exists = 'append')
    print("Import Successfully")
except Exception as e:
    print(f'There is an error : {e}')

Import Successfully