In [41]:
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\himan\anaconda3\lib\site-packages (1.7.4.5)
Requirement already satisfied: bleach in c:\users\himan\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: certifi>=14.05.14 in c:\users\himan\anaconda3\lib\site-packages (from kaggle) (2025.1.31)
Requirement already satisfied: charset-normalizer in c:\users\himan\anaconda3\lib\site-packages (from kaggle) (2.0.4)
Requirement already satisfied: idna in c:\users\himan\anaconda3\lib\site-packages (from kaggle) (3.4)
Requirement already satisfied: protobuf in c:\users\himan\anaconda3\lib\site-packages (from kaggle) (3.20.3)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\users\himan\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: python-slugify in c:\users\himan\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: requests in c:\users\himan\anaconda3\lib\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in c:\users\himan\anaconda3\lib\site-packages (from kaggle) (68.2.2)
Requirement already satisfied: six>=1.10 in c:\users\himan\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: text-unidecode in c:\users\himan\anaconda3\lib\site-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in c:\users\himan\anaconda3\lib\site-packages (from kaggle) (4.65.0)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\himan\anaconda3\lib\site-packages (from kaggle) (2.0.7)
Requirement already satisfied: webencodings in c:\users\himan\anaconda3\lib\site-packages (from kaggle) (0.5.1)
Requirement already satisfied: packaging in c:\users\himan\anaconda3\lib\site-packages (from bleach->kaggle) (23.1)
Requirement already satisfied: colorama in c:\users\himan\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)

In [42]:
import kaggle

In [43]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv: Skipping, found more recently modified local copy (use --force to force download)

In [44]:
#extract file from zip file
#import zipfile
#zip_ref = zipfile.ZipFile('orders.csv.zip')
#zip_ref.extractall()
#zip_ref.close

In [45]:
#read data from file and handle null values
import pandas as pd
df = pd.read_csv('orders.csv', na_values=['Not Available', 'unknown'])
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [46]:
#rename columns
#df.rename(columns={'Order Id': 'order id', 'City':'city'})
df.columns = df.columns.str.lower()
df.columns= df.columns.str.replace(' ','_')
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [47]:
#derive new columns discount, sales price and profits
df['discount'] = df['list_price']*df['discount_percent']*0.01
df['sales_price'] = df['list_price'] - df['discount']
df['profit'] = df['sales_price'] - df['cost_price']
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sales_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0

In [48]:
#convert order date from object datatype to datetime
df['order_date'] = pd.to_datetime(df['order_date'],format= '%Y-%m-%d' )

In [49]:
#drop cost price, list price, discount_percent coulmns
df.drop(columns=['cost_price','list_price','discount_percent'],inplace = True)

In [60]:
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sales_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,3,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,2,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,4,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,2,7.2,232.8,22.8

In [62]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.3.0-cp311-cp311-win_amd64.whl.metadata (7.5 kB)
Downloading mysql_connector_python-9.3.0-cp311-cp311-win_amd64.whl (16.4 MB)
   ---------------------------------------- 0.0/16.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.4 MB 393.8 kB/s eta 0:00:42
   ---------------------------------------- 0.2/16.4 MB 1.2 MB/s eta 0:00:14
    --------------------------------------- 0.4/16.4 MB 2.0 MB/s eta 0:00:08
   - -------------------------------------- 0.4/16.4 MB 2.1 MB/s eta 0:00:08
   - -------------------------------------- 0.6/16.4 MB 2.2 MB/s eta 0:00:08
   - -------------------------------------- 0.7/16.4 MB 2.3 MB/s eta 0:00:07
   -- ------------------------------------- 0.9/16.4 MB 2.6 MB/s eta 0:00:06
   -- ------------------------------------- 1.1/16.4 MB 2.7 MB/s eta 0:00:06
   --- ------------------------------------ 1.4/16.4 MB 3.1 MB/s eta 0:00:05
   ---- ----------------------------------- 1.7/16.4 MB 3.3 MB/s eta 0:00:05
   ---- ----------------------------------- 1.9/16.4 MB 3.5 MB/s eta 0:00:05
   ----- ---------------------------------- 2.2/16.4 MB 3.7 MB/s eta 0:00:04
   ------ --------------------------------- 2.5/16.4 MB 4.0 MB/s eta 0:00:04
   ------ --------------------------------- 2.8/16.4 MB 4.1 MB/s eta 0:00:04
   ------- -------------------------------- 3.1/16.4 MB 4.3 MB/s eta 0:00:04
   -------- ------------------------------- 3.4/16.4 MB 4.4 MB/s eta 0:00:03
   --------- ------------------------------ 3.7/16.4 MB 4.5 MB/s eta 0:00:03
   --------- ------------------------------ 4.1/16.4 MB 4.6 MB/s eta 0:00:03
   ---------- ----------------------------- 4.4/16.4 MB 4.7 MB/s eta 0:00:03
   ----------- ---------------------------- 4.7/16.4 MB 4.8 MB/s eta 0:00:03
   ------------ --------------------------- 5.0/16.4 MB 4.9 MB/s eta 0:00:03
   ------------- -------------------------- 5.3/16.4 MB 5.0 MB/s eta 0:00:03
   ------------- -------------------------- 5.7/16.4 MB 5.1 MB/s eta 0:00:03
   -------------- ------------------------- 6.0/16.4 MB 5.2 MB/s eta 0:00:03
   --------------- ------------------------ 6.2/16.4 MB 5.2 MB/s eta 0:00:02
   --------------- ------------------------ 6.4/16.4 MB 5.1 MB/s eta 0:00:02
   ---------------- ----------------------- 6.7/16.4 MB 5.2 MB/s eta 0:00:02
   ----------------- ---------------------- 7.0/16.4 MB 5.2 MB/s eta 0:00:02
   ----------------- ---------------------- 7.2/16.4 MB 5.2 MB/s eta 0:00:02
   ------------------ --------------------- 7.5/16.4 MB 5.2 MB/s eta 0:00:02
   ------------------- -------------------- 7.9/16.4 MB 5.3 MB/s eta 0:00:02
   ------------------- -------------------- 8.2/16.4 MB 5.3 MB/s eta 0:00:02
   -------------------- ------------------- 8.5/16.4 MB 5.4 MB/s eta 0:00:02
   --------------------- ------------------ 8.8/16.4 MB 5.5 MB/s eta 0:00:02
   ---------------------- ----------------- 9.1/16.4 MB 5.5 MB/s eta 0:00:02
   ----------------------- ---------------- 9.4/16.4 MB 5.5 MB/s eta 0:00:02
   ----------------------- ---------------- 9.7/16.4 MB 5.5 MB/s eta 0:00:02
   ------------------------ --------------- 10.0/16.4 MB 5.6 MB/s eta 0:00:02
   ------------------------- -------------- 10.3/16.4 MB 5.9 MB/s eta 0:00:02
   ------------------------- -------------- 10.6/16.4 MB 6.0 MB/s eta 0:00:01
   -------------------------- ------------- 10.9/16.4 MB 6.3 MB/s eta 0:00:01
   --------------------------- ------------ 11.1/16.4 MB 6.3 MB/s eta 0:00:01
   --------------------------- ------------ 11.4/16.4 MB 6.4 MB/s eta 0:00:01
   ---------------------------- ----------- 11.7/16.4 MB 6.4 MB/s eta 0:00:01
   ----------------------------- ---------- 12.0/16.4 MB 6.4 MB/s eta 0:00:01
   ------------------------------ --------- 12.4/16.4 MB 6.5 MB/s eta 0:00:01
   ------------------------------ --------- 12.6/16.4 MB 6.4 MB/s eta 0:00:01
   ------------------------------- -------- 13.0/16.4 MB 6.5 MB/s eta 0:00:01
   -------------------------------- ------- 13.2/16.4 MB 6.5 MB/s eta 0:00:01
   --------------------------------- ------ 13.6/16.4 MB 6.5 MB/s eta 0:00:01
   --------------------------------- ------ 13.7/16.4 MB 6.5 MB/s eta 0:00:01
   ---------------------------------- ----- 14.0/16.4 MB 6.4 MB/s eta 0:00:01
   ----------------------------------- ---- 14.3/16.4 MB 6.4 MB/s eta 0:00:01
   ----------------------------------- ---- 14.6/16.4 MB 6.4 MB/s eta 0:00:01
   ------------------------------------ --- 14.9/16.4 MB 6.4 MB/s eta 0:00:01
   ------------------------------------- -- 15.2/16.4 MB 6.3 MB/s eta 0:00:01
   ------------------------------------- -- 15.5/16.4 MB 6.3 MB/s eta 0:00:01
   -------------------------------------- - 15.8/16.4 MB 6.3 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.4 MB 6.3 MB/s eta 0:00:01
   ---------------------------------------  16.2/16.4 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  16.4/16.4 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  16.4/16.4 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------- 16.4/16.4 MB 5.8 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.3.0

In [73]:
!pip install sqlalchemy mysql-connector-python

Requirement already satisfied: sqlalchemy in c:\users\himan\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: mysql-connector-python in c:\users\himan\anaconda3\lib\site-packages (9.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\himan\anaconda3\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\himan\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)

In [85]:
   from sqlalchemy import create_engine

   engine = create_engine("mysql+mysqlconnector://root:Him2002@localhost/mydatabase")

In [89]:
#load the data into sql server
try:
    df.to_sql(name='df_orders', con=engine, index=False, if_exists = 'append')
    print("Import Successfully")
except Exception as e:
    print(f'There is an error : {e}')

Import Successfully